#canvas {
  background-color: #ccc;
}
#desginer-wrapper {
  height: 100%;
}
:host mat-nav-list {
  padding-top: 0;
}
:host mat-list-item {
  height: 60px;
}
:host mat-list-item a {
  text-align: center;
  width: 100%;
  padding: 3px 0;
}
:host small {
  display: block;;
  text-align: center;
  font-size: 8px;
}
:host #drawer-closer {
  cursor: pointer;
  text-align: right;
}
:host #drawer-closer mat-icon {
  font-size: 15px;
  vertical-align: middle;
}
:host mat-sidenav {
  background-color: #195f97;
  border: 0;
}
:host mat-sidenav a {
  color: #fff;
}
:host #design-tools {
  background-color: #054d88;
  padding: 1em;
  color: #fff;
}
:host #menu-header {
  font-weight: bold;
  text-transform: uppercase;
}
